body{
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
}

.container{
    background: white;
    width: 400px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
}

input{
    padding: 10px;
    margin: 10px;
}

button{
    padding: 10px 15px;
}